@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato-Regular"), url("../assets/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Lato-Bold"), url("../assets/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), local("Roboto-Regular"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
.button {
  cursor: pointer;
}
.button button {
  font-family: Lato, sans-serif;
}
.button button.loginBtn {
  margin-top: 18px;
  align-self: center;
  width: 150px;
  height: 37px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: white;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(93.58deg, #2B2B2B 0%, #1E2023 0.01%, #1F2E4D 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.button button.underlinedUppercaseBtn {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.4px;
  color: #1F2E4D;
  /* identical to box height */
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
  align-self: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.button button.standardBtn {
  cursor: pointer;
  align-self: center;
  margin: 18px 31px;
  width: 150px;
  height: 37px;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(93.58deg, #2b2b2b 0%, #1e2023 0.01%, #1f2e4d 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.button button.standardBtn:hover {
  background: linear-gradient(93.58deg, #000000 0%, #1e2023 0.01%, #021e56 100%);
}
.button button.standardBtn.large {
  width: 213px;
}
.button button.dropdownBtn {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14.4px;
  display: flex;
  position: relative;
  flex-direction: row;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
  color: #222225;
  height: 37px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 140px;
}
.button button.dropdownBtn img {
  margin-left: 6px;
  width: 10px;
  height: 10px;
  align-self: center;
}
.button button.dropdownBtn.dropdownBtnRoundedRightCorners {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.button button.dropdownBtn.selected {
  background: linear-gradient(180deg, #889cc4 0%, #f0f3f7 100%);
}
.button button.dropdownBtn.selected.dropdownBtnRoundedRightCorners {
  border-bottom-right-radius: 0;
  border-top-right-radius: 4px;
}
.button button.dropdownBtn:hover {
  background: linear-gradient(180deg, #c6ccd9 0%, #f2f5f9 100%);
}
.button button.selectGateBtn {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14.4px;
  line-height: 14.4px;
  padding: 0 12px 0 12px;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
  color: #222225;
  font-weight: 600;
  font-size: 12px;
  height: 37px;
  border-radius: 4px 0 0 4px;
}
.button button.selectGateBtn.selected {
  background: linear-gradient(180deg, #889cc4 0%, #f0f3f7 100%);
}
.button button.selectGateBtn:hover {
  background: linear-gradient(180deg, #c6ccd9 0%, #f2f5f9 100%);
}
.button button.circuitBtn {
  height: 37px;
  text-transform: uppercase;
  width: 75px;
  background: linear-gradient(93.58deg, #2f9776 0%, #5f92f3 0.01%, #5d76a7 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.button button.circuitBtn .btnLbl {
  font-weight: 1000;
  color: white;
  font-size: 12px;
}
.button button.circuitBtn.circuitRunBtn {
  margin-right: 70px;
  margin-left: 14px;
  border-radius: 8px;
}
.button button.circuitBtn.circuitSaveBtn {
  margin-right: 70px;
}
.button button.circuitBtn.circuitCancelBtn {
  background: linear-gradient(93.58deg, #2f9776 0%, #b3c2df 0.01%, #d5dceb 100%);
  margin-right: 11px;
}
.button button.circuitBtn.circuitCancelBtn .btnLbl {
  font-weight: 1000;
  color: black;
  font-size: 12px;
}
.button button.circuitBtn.circuitCancelBtn:hover {
  background: linear-gradient(93.58deg, #2f9776 0%, #869bc5 0.01%, #d0dffd 100%);
}
.button button.circuitBtn.circuitInstructionBtn {
  margin-right: 27px;
  text-decoration: underline;
  border: none;
  background: transparent;
}
.button button.circuitBtn.circuitInstructionBtn .btnLbl {
  text-decoration: underline;
}
.button button.circuitBtn.circuitInstructionBtn:hover {
  background: transparent;
}
.button button.circuitBtn.circuitInstructionBtn:hover .btnLbl {
  font-weight: 300;
}
.button button.circuitBtn:hover {
  background: linear-gradient(93.58deg, #2f9776 0%, #4473cf 0.01%, #375083 100%);
}
.button button.accountMenuBtn {
  display: flex;
  flex-direction: row;
  border: none;
  background: transparent;
  text-decoration: underline;
  align-items: center;
}
.button button.accountMenuBtn img {
  margin-right: 7px;
  width: 23px;
  height: 23px;
}
.button button.accountMenuBtn img.rightImage {
  margin-left: 6px;
  width: 10px;
  height: 10px;
}
.button button.accountMenuBtn:hover {
  background: transparent;
}
.button button.gateBtn {
  padding: 8px;
  padding-bottom: 6px;
  border: 1px solid #626262;
  border-radius: 4px;
}
.button button.gateBtn .btnLbl {
  display: none;
}
.button button.gateBtn.selected, .button button.gateBtn:hover {
  background: linear-gradient(180deg, #889cc4 0%, #f0f3f7 100%);
}/*# sourceMappingURL=Button.module.css.map */