:root {
  --circuit-grid-width: 864px;
}

.container {
  display: grid;
  grid-template-columns: 0.1fr 0.6fr 2.3fr 0.7fr 0.6fr 0.1fr;
  grid-template-rows: 0.1fr 0.5fr 1.4fr 0.5fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "UITabs3 UITabs3 UITabs3 UITabs3 UITabs3 UITabs4"
    "UITabs2 Options-Menu All-Gates All-Gates Fave-Menu UITabs4"
    "UITabs2 Options-Menu Circuit-Builder Code Fave-Menu UITabs4"
    "UITabs2 Options-Menu Output Code Fave-Menu UITabs4"
    "UITabs1 UITabs1 UITabs1 UITabs1 UITabs1 UITabs1";
  height: 90vh;
  align-items: center;
}

.row {
  height: 48px;
  background-color: pink;
  border: 1px solid black;
  margin: 0;
  align-items: center;
}

.col {
  height: 48px;
  overflow: hidden;
  border: 0.5px solid black;
  margin: 0;
  align-items: center;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.qubitNum {
  height: 48px;
  max-width: 48px !important;
  background-color: lightblue;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.OptionsMenu {
  grid-area: Options-Menu;
  display: block;
  background-color: rgba(29, 247, 244, 0.37);
  /* border: solid rgba(29, 247, 244, 0.37); */
  width: 100%;
  height: 100%;
}

.CircuitBuilder {
  grid-area: Circuit-Builder;
  /* background-color: rgba(232, 14, 213); */
  // border: 5px solid rgba(232, 14, 213);
  width: 100%;
  max-height: 100%;
  align-items: center;
  overflow: scroll;
}
.CircuitBuilderNoAllGatesMenuNoOutput {
  grid-row: 2 / span 3;
}
.CircuitBuilderNoAllGatesMenuWithOutput {
  grid-row: 2 / span 2;
}
.CircuitBuilderNoOutputConsoleWithAllGates {
  grid-row: 3 / span 2;
}
.CircuitBuilderNoCodeNoOptionWithFaveMenu {
  grid-column: 2 / span 3;
}
.CircuitBuilderNoFaveMenuNoCodeNoOption {
  grid-column: 2 / span 4;
}
.CircuitBuilderNoCodeNoFaveMenuWithOption {
  grid-column: 3 / span 3;
}
.CircuitBuilderNoOptionNoCodeWithFave {
  grid-column: 2 / span 3;
}
.CircuitBuilderNoOptionWithCode {
  grid-column: 2 / span 2;
}
.CircuitBuilderNoOptionNoCodeNoFave {
  grid-column: 2 / span 4;
}

.Output {
  grid-area: Output;
  /* background-color: rgba(14, 232, 21, 0.939); */
  border: 5px solid rgba(14, 232, 21, 0.939);
  width: 100%;
  height: 100%;
}
.OutputNoOptionWithCode {
  grid-column: 2 / span 2;
}
.OutputNoOptionNoCodeNoFave {
  grid-column: 2 / span 4;
}
.OutputNoCodeWithOption {
  grid-column: 3 / span 3;
}
.OutputNoOptionNoCodeWithFave {
  grid-column: 2 / span 3;
}

.Code {
  grid-area: Code;
  /* background-color: rgba(14, 228, 232, 0.939); */
  border: 5px solid rgba(14, 228, 232, 0.939);
  width: 100%;
  height: 100%;
}
.CodeNoAllGates {
  grid-row: 2 / span 3;
}
.CodeNoFaveMenu {
  grid-column: 4 / span 2;
}

.FaveGatesMenu {
  display: block;
  grid-area: Fave-Menu;
  background-color: rgba(242, 141, 18, 0.939);
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  height: 100%;
}



.AllGatesMenu {
  grid-area: All-Gates;
  /* background-color: rgba(234, 21, 21, 0.939); */
  //border: 5px solid rgba(234, 21, 21, 0.939);
  width: 100%;
  height: 100%;
}
.AllGatesMenuNoOptionNoFave {
  grid-column: 2 / span 4;
}
.AllGatesMenuWithOptionNoFave {
  grid-column: 3 / span 3;
}
.AllGatesMenuNoOptionWithFave {
  grid-column: 2 / span 3;
}
.GateImg {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  height: auto;

}


.BottomPageTabs {
  grid-area: UITabs1;
  border: 5px solid rgba(250, 216, 81, 0.939);
}