:root {
    --logo-size: 96;
}

/* .CircuitGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "+ grid";
    width: 95%;
    height: 95%;
} */
