.container {
  display: grid;
  grid-template-columns: 0.6fr 1.9fr 0.9fr 0.6fr;
  grid-template-rows: 0.6fr 1.2fr 0.8fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "Options-Menu All-Gates All-Gates Fave-Menu"
    "Options-Menu Circuit-Builder Code Fave-Menu"
    "Options-Menu Output Output Fave-Menu"
    "UITabs UITabs UITabs UITabs";
  height: 93vh;
}

.OptionsMenu {
  grid-area: Options-Menu;
  background-color: rgba(29, 247, 244, 0.37);
  border: 5px solid rgba(29, 247, 244, 0.37);
}

.CircuitBuilder {
  grid-area: Circuit-Builder;
  background-color: rgba(232, 14, 213);
  border: 5px solid rgba(232, 14, 213);
}

.Output {
  grid-area: Output;
  background-color: rgba(14, 232, 21, 0.939);
  border: 5px solid rgba(14, 232, 21, 0.939);
}

.Code {
  grid-area: Code;
  background-color: rgba(14, 228, 232, 0.939);
  border: 5px solid rgba(14, 228, 232, 0.939);
}

.FaveGatesMenu {
  grid-area: Fave-Menu;
  background-color: rgba(242, 141, 18, 0.939);
  border: 5px solid rgba(242, 141, 18, 0.939);

}

.AllGatesMenu {
  grid-area: All-Gates;
  background-color: rgba(234, 21, 21, 0.939);
  border: 5px solid rgba(234, 21, 21, 0.939);
}